hr {
    border-color: #f8f8f8;
    box-shadow: 1px 1px #ededed;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #787878;
    font-weight: normal;
    margin: 0 0 1em;
  }
  
  h1 {
    font-size: 36px;
  }
  
  h2 {
    font-size: 30px;
  }
  
  h3 {
    font-size: 26px;
  }
  
  h4 {
    font-size: 22px;
  }
  
  a {
    transition: color .2 linear;
    text-decoration: none;
    color: rgba(173, 255, 66, 0.973);
    border-bottom: 1px dotted;
  }
  
  a:hover {
    border-bottom-color: transparent;
  }
  
  p {
    margin: 0 0 2em;
  }
  
  img {
    overflow: auto;
  }
  
  .ul-icons li {
    font-size: 35px;
  
    list-style-type: none;
    display: inline-block;
  }
  
  .ul-icons a {
    color: #999;
    border: none;
  }
  
  .ul-icons a:hover {
    color: #ccc;
  }
  
  table {
    width: 100%;
    margin: 2em 0 1em 0;
    border-collapse: collapse;
    text-align: left;
  }
  
  table td {
    padding: .75em;
  }
  
  table th {
    background: #ccc;
    padding: .75em;
  }
  
  .table tbody tr td {
    border-bottom: 1px solid #ccc;
  }
  
  .table tbody tr:first-child td {
    border-top: 2px solid #666;
  
  }
  
  .table tbody tr:last-child td {
    border-bottom: 2px solid #666;
  
  }
  
  .table tbody tr:nth-child(odd) td {
    background-color: #eee;
  }
  
  .row input,
  label,
  textarea,
  select {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
  
  }
  
  textarea {
    height: 10em;
  }
  
  input,
  textarea,
  select {
    border: none;
    background-color: #eaeaea;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    border: 2px solid transparent;
  }
  
  input:focus,
  textarea:focus,
  select:focus {
    border: 2px solid rgba(173, 255, 66, 0.973);
    outline: none;
  
  }
  
  .footer-author {
    color: rgba(173, 255, 66, 0.973);
  }
  
  .button-default {
    background-color: rgba(173, 255, 66, 0.973);
    border: 2px solid rgba(173, 255, 66, 0.973);
    color: white;
    padding: .75em 1.5em;
    border-radius: 5px;
    font-size: .9em;
  }
  
  .button-empty {
    background-color: white;
    border: 2px solid #efefef;
    color: inherit;
    padding: .75em 1.5em;
    border-radius: 5px;
    font-size: .9em;
  }
  

  
  .img-perfil {
    border-radius: 50%;
  }
  
  .img-link {
    border: none;
  }
  
  
  .main-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 35%;
    padding: 124px 54px 72px;
    box-sizing: border-box;
    background-image: url(../img/backg.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: auto, cover;
    text-align: right;
  }
  
  .main-nav a {
    text-decoration: none;
    font-size: 24px;
    color: #999;
    line-height: 1.5;
    transition: color .2s linear;
    border-bottom: none;
  
  }
  
  .main-nav a:hover {
    color: rgba(173, 255, 66, 0.973);
  }
  
  .main-nav ul {
    list-style-type: none;
  }
  
  .main-header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 35%;
    padding: 124px 54px 72px;
    box-sizing: border-box;
    background-image: url(../img/backg.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: auto, cover;
    text-align: right;
  
  }
  
  .main-header-title {
    font-size: 24px;
    line-height: 1.5;
    font-weight: normal;
    color: rgba(2555, 255, 255, .5);
  
  }
  
  .main-header-title strong {
    color: white;
    font-weight: normal;
  }
  
  .main-content {
    width: 65%;
    margin-left: 35%;
    padding: 124px 54px 72px;
    box-sizing: border-box;
  }
  
  .main-content-section {
    padding-bottom: 100px;
    margin-top: 50px;
  }
  
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 28%;
    height: 18%;
    text-align: right;
    padding: 124px 54px 72px;
  }
  
  footer p {
    display: inline-block;
  }
  
  .recent-works-card .ul-icons .fa-github {
    font-size: 80px;
    top: 35%;
    left: 40%;
    position: absolute;
    color: transparent;
  }
  
  .recent-works-card .ul-icons .fa-github:hover {
    transition: .8s;
    color: rgba(173, 255, 66, 0.973);
  }
  
  .recent-works-card {
    border: 2px solid #f5f5f5;
    margin-bottom: 60px;
    box-shadow: 2px 3px #888888;
    position: relative;
    border-radius: 10px;
  
  }
  
  .recent-works-card:hover {
    transition: .5s;
    opacity: 0.7;
    color: inherit;
  }
  
  .recent-works-card img {
    width: 100%;
    overflow: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .recent-works-card p {
    padding: 5px 15px;
  }
  
  .recent-works-card-title {
    width: 100%;
    /* top:295px; */
    margin-top: -32px;
    box-sizing: border-box;
    position: absolute;
    background-color: rgba(173, 255, 66, 0.637);
    color: rgb(0, 0, 0);
  
  }
  
  .team-card {
    text-align: center;
  
  }
  
  .team-card p {
    margin-bottom: 15px;
  }
  
  .team-card-title {
    font-size: 24px;
    color: #787878;
  }
  
  .team-card img {
    max-width: 100%;
    overflow: auto;
    margin-bottom: 10px;
  }
  
  /* Grid */
  .row {
    overflow: auto;
  }
  
  .col-2 {
    width: 47.5%;
    float: left;
  }
  
  .col-2:first-child {
    margin-right: 2%;
  }
  
  .col-2:last-child {
    margin-left: 2%;
  }
  
  .col-2-3 {
    width: 65%;
    float: left;
  }
  
  .col-1-3 {
    margin-left: 3%;
    width: 32%;
    float: left;
  }